.container {
  height: 100vh;
  background-color: var(--white-alpha-25);
  width: 1200px;
  height: 80vh;
  border: 1px solid var(--white-alpha-40);
  margin-top: 70px;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
}

.box {
  width: auto;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color: var(--midNightBlue);
  margin: 10px;
}
